body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: white;
  color: rgb(51, 51, 51);
  padding: 0 10px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
